@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

html {
    font-size: 16px;
}

body {
    margin: 0;
    background: #f0f3f8;
    font-family: 'Manrope', sans-serif;
}

/*Parallax effect*/
.wrapper {
    min-height: 80%;
}

.parallax {
    min-height: 100vh;
}

.parallax__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax__images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.images-parallax__item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.images-parallax__background,
.images-parallax__items,
.images-parallax__people {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.images-parallax__background {
    background: url("images/background-01.svg") 20vh 14vh fixed no-repeat;
    background-size: 35em;
    top: 0;
}

.images-parallax__items {
    background: url("images/items-01.svg") 20vh 14vh fixed no-repeat;
    background-size: 35em;
    z-index: 2;
}

.images-parallax__people {
    background: url("images/people-01.svg") 20vh 14vh no-repeat;
    background-size: 35em;
    z-index: 3;
}

/*block position & size*/
.content {
    width: 25em;
    position: absolute;
    text-align: center;
    top: 16%;
    right: 24%;
}

@media screen and (max-width: 1500px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        right: 10%;
    }
}

@media screen and (max-width: 1280px) {
    .images-parallax__background,
    .images-parallax__items,
    .images-parallax__people {
        display: none;
    }

    body {
        background-image: none;
    }

    .content {
        width: 60%;
        right: auto;
    }
}

@media screen and (max-width: 650px) {
    main {
        display: flex;
        justify-content: center;
    }

    .content {
        width: 100%;
        padding: 1em;
        box-sizing: border-box;
        top: 10%;
    }
}

/*Title style*/
h1 {
    font-size: 2.3em;
    font-weight: normal;
    line-height: 1.2em;
    color: #000;
}

h1 > span {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

/*Email & password style*/
input.data {
    width: 100%;
    padding: 1em;
    margin: 1.1em auto;
    box-sizing: border-box;
    color: #5d5d5d;
    font-size: 1.2em;
    text-align: center;
    background: #fff;
    outline: none;
    border: 1px solid #e3e6e8ff;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

input:hover {
    cursor: pointer;
    outline: 1px solid rgba(33, 148, 243, 0.5);
}

input:focus {
    outline: 1px solid rgba(33, 148, 243);
    border-radius: 40px;
    transition: all 0.3s ease 0s;
}

input.data::-moz-placeholder {
    color: #c5c5c5;
}

input.data::-webkit-input-placeholder {
    color: #c5c5c5;
}

/*Block checkbox style*/
.cookies {
    display: flex;
    position: relative;
    margin-top: 1em;
    text-align: left;
}

.cookies > input {
    position: absolute;
    top: 0;
    left: 0;
}

.cookies > label {
    padding-left: 1.6em;
    font-size: 0.9em;
}

/*LOGIN button*/
button {
    width: 10em;
    margin-top: 2em;
    margin-bottom: 1.5em;
    padding: 0.65em;
    border: none;
    background: linear-gradient(90deg, rgb(33, 150, 243) 0%, rgb(86, 204, 242) 103.52%);
    box-shadow: 0 2px 2px rgba(68, 68, 68, 0.51);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

/*Forgot password*/
.retrieve {
    color: rgb(33, 150, 243);
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

/*create account*/
.add-acc {
    color: inherit;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}