@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

body {
    margin: 0;
    background: #f0f3f8 url("images/index_img.svg") 20vh 14vh fixed no-repeat;
    background-size: 35rem;
    font-family: 'Manrope', sans-serif;
}

/*block position & size*/
main {
    height: 100vh;
}

.content_block {
    width: 25rem;
    position: absolute;
    text-align: center;
    top: 16%;
    right: 24%;
}

/*PC and table*/
@media screen and (max-width: 1500px) {
    body {
        background-image: none;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content_block {
        width: 70%;
        top: auto;
        right: auto;
    }
}

/*Mobile*/
@media screen and (max-width: 500px) {

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content_block {
        width: 80%;
        top: auto;
        right: auto;
    }
}

/*Title style*/
h1 {
    font-size: 2.3rem;
    font-weight: normal;
    line-height: 1.2em;
    color: #000;
}

h1 > span {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

/*Email & password style*/
input.data {
    box-sizing: border-box;
    width: 100%;
    color: #a1a1a1;
    border: 1px solid rgb(227, 230, 232);
    border-radius: 40px;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1.1rem auto;
    text-align: center;
    background: rgb(255, 255, 255);
}

input.data:focus {
    outline: none;
    border: 1px solid rgb(227, 230, 232);
}

/*block checkbox style*/
.cookies {
    display: flex;
    position: relative;
    margin-top: 1rem;
    text-align: left;
}

.cookies > input {
    position: absolute;
    top: 0;
    left: 0;
}

.cookies > label {
    padding-left: 25px;
    font-size: 0.9rem;
}

/*LOGIN button*/
button {
    background: linear-gradient(90deg, rgb(33, 150, 243) 0%, rgb(86, 204, 242) 103.52%);
    box-shadow: 0 2px 2px rgba(68, 68, 68, 0.51);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0.65rem;
    margin-top: 2rem;
    width: 10rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

/*Forgot password*/
.retrieve {
    color: rgb(33, 150, 243);
    cursor: pointer;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

/*create account*/
.add-acc {
    color: inherit;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}