@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #f0f4f8;
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease 0s;
}

ul {
    list-style: none;
}

.material-icons {
    display: inline-block;
    color: #a9a9b2;
    transition: all 0.3s ease 0s;
}

button {
    outline: none;
    background: transparent;
}

/*NAV block style*/
.home-nav {
    width: 16rem;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0 4px 18px;
}

/*Profile block*/
.nav-profile_block {
    height: 7.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    background: linear-gradient(90deg, rgb(33, 150, 243) 0%, rgb(86, 204, 242) 103.52%);
    text-align: center;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.nav-profile_block:hover {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

.nav-icon-correction {
    font-size: 4rem;
    color: #fff;
}

.nav-login {
    margin: 0;
    font-size: 1.1rem;
}

/*Site navigation list*/
.nav-block {
    height: 80vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.nav_list {
    width: 100%;
}

.nav_list > li {
    font-weight: 400;
    padding: 0.7rem 0;
}

.nav_list > li:first-child {
    line-height: 3rem;
    border-bottom: 1px solid #bbb;
}

.nav_list > li:hover a {
    color: #2194f3;
    transition: all 0.3s ease 0s;
}

.nav_list > li:hover i {
    color: #2194f3;
    transition: all 0.3s ease 0s;
}

/*Link navigation*/
a.nav_link {
    display: flex;
    align-items: center;
}

.active {
    color: #2194f3;
}

a.nav_link > i {
    padding-right: 1rem;
}

/*Log out button*/
button.log-out {
    background: linear-gradient(90deg, rgb(33, 150, 243) 0%, rgb(86, 204, 242) 103.52%);
    box-shadow: 0 2px 2px rgba(68, 68, 68, 0.51);
    border-radius: 20px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 0.65rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    width: 10rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button.log-out:hover {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

main.home {
    height: 100vh;
    margin-left: 256px;
}

/*Header block*/
main > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    box-sizing: content-box;
    background: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    padding: 0 20px;
    height: 4rem;
}

header > * {
    display: flex;
    align-items: center;

}

.Button_base {
    border: 0;
    position: relative;
    border-radius: 0;
    vertical-align: middle;
    cursor: pointer;
}

/*Project Name style*/
.projectName {
    font-weight: bold;
}

/*Play tracker button*/
.play-time {
    margin-left: 1rem;
}

/*ALL time block*/
.tracker_container {
    height: 35vh;
    padding: 1.5rem;
    display: flex;
}

.tracker_container > * {
    display: flex;
}

/*Total time block*/
.total-time_block {
    width: 60%;
    font-size: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-time_title {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 0.5rem;
}

/*Total time project and task*/
div.timeProject_container {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 2rem;
    flex-direction: column;
    overflow-y: auto;
}

div.timeProject_container > li {
    padding: 1rem 0;
    border-bottom: 1px solid #bbb;
    list-style-position: inside;
    transition: all 0.3s ease 0s;
}

/*Block TOTAL time*/
section.project_time {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 0;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

section.project_time:hover {
    background: rgba(0, 0, 0, 0.06);
    transition: all 0.3s ease 0s;
}

section.project_time:hover ~ div.task_block {
    display: block;
}

/*Project list*/
p.project_title {
    font-weight: 600;
    text-transform: uppercase;
}

p.project_title:before {
    content: "\e5df";
    font-family: 'Material Icons';
    color: #009a00;
}

/*Task list*/
.task_block {
    display: none;
    flex-direction: column;
    padding: 0.5rem 0;
}

.task_block > .task {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    margin-left: 1rem;
    border-bottom: 1px solid #f0f4f8;
    background: rgba(0, 0, 0, 0.05);
}

.task > * {
    display: flex;
}

/*Project dashboard block*/
div.project_block {
    height: 50vh;
    box-sizing: border-box;
    padding: 1.1rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #e3e6e8ff;
    border-radius: 5px;
    overflow-y: auto;
}

.project_block_header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.15rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #bbb;;
}

.dashboard_projects {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

section.project_block_container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.newProject_add {
    color: #2195f2;
    padding-right: 1.5rem;
    transition: all 0.3s ease 0s;
}

.newProject_add:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}