@import "base_style.css";

/*Header block*/
.content_block > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    padding: 0 1.25rem;
    height: 6rem;
}

@media screen and (max-width: 670px) {
    .content_block > header {
        padding: 0.5rem;
    }
}

header > * {
    display: flex;
    align-items: center;
}

.taskTitle,
.projectName,
.projectTime__container > p:not(.project_total-time),
.project_name,
.company,
.team {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 670px) {
    .content_block > header {
        height: 4rem;
    }
}

.Button_base {
    border: 0;
    position: relative;
    border-radius: 0;
    vertical-align: middle;
    cursor: pointer;
}

/*Project Name style*/
.projectName {
    font-weight: bold;
}

/*Play tracker button*/
.play-time {
    margin-left: 1rem;
}

/*ALL time block*/
.tracker_container {
    height: 35vh;
    padding: 1.5rem;
    display: flex;
}

@media screen and (max-width: 670px) {
    .tracker_container {
        padding: 0.5rem;
        flex-direction: column;
    }
}

.tracker_container > * {
    display: flex;
}

/*Total time block*/
.total-time_block {
    width: 60%;
    font-size: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 670px) {
    .total-time_block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        width: auto;
        font-size: 1.5rem;
    }
}

.total-time_title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 0.5rem;
}

/*Total time project and task*/
div.timeProject_container {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 2rem;
    flex-direction: column;
    overflow-y: auto;
}

div.timeProject_container > li {
    padding: 1rem 0;
    border-bottom: 1px solid #bbb;
    list-style-position: inside;
    transition: all 0.3s ease 0s;
}

/*Block project time*/
.projectTime__container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 0;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    transition: all 0.3s ease 0s;
}

.projectTime__container:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(33, 148, 243, 0.1);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.25s ease-out;
}

.projectTime__container:hover:before {
    cursor: pointer;
    transform: scaleX(1);
}

/*Project list*/
.project_title {
    font-weight: 600;
}

.project_title:before {
    content: "\e5df";
    font-family: 'Material Icons';
    color: #009a00;
}

/*Task list*/
.task_block {
    display: none;
    flex-direction: column;
    padding: 0.5rem 0;
}

.task_block > .task {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    margin-left: 1rem;
    border-bottom: 1px solid #f0f4f8;
    transition: all 0.3s ease 0s;
}

.task_block > .task:hover {
    background: rgba(33, 148, 243, 0.1);
    transition: all 0.3s ease 0s;
}

.task > * {
    display: flex;
}

.task > input {
    font-size: 1rem;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.task > input:focus {
    background: white;
    outline: 1px solid rgba(33, 148, 243);
    border-radius: 5px;
}

.addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-transform: uppercase;
    color: #a9a9b2;
    transition: all 0.3s ease 0s;
}

.addTask > i {
    font-size: 1rem;
    margin-right: .5rem;
}

.addTask:hover > * {
    cursor: pointer;
    font-size: 1.05rem;
    color: #2194f3;
    transition: all 0.3s ease 0s;
}

/*Block dashboard*/
.dashboard_block {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
}

@media screen and (max-width: 1020px) {
    .dashboard_block {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 670px) {
    .dashboard_block {
        padding: 0.5rem;
    }
}

/*Project dashboard block*/
.project_block {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 1.1rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #e3e6e8ff;
    border-radius: 5px;
}

/*ADD project*/
.addProject_form, .addTask_form {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 900;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.open {
    display: flex !important;
}

.form_block {
    width: 40vw;
    max-width: 30rem;
    min-width: 250px;
    max-height: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 3rem;
    padding: 0 3rem;
    box-sizing: border-box;
    border-radius: 4px;
    background: #e8e8e8;
    letter-spacing: 0.1rem;
}

.form {
    padding: 0.5rem 3rem;
    text-align: right;
}

.close {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.close:hover {
    color: black;
    transition: all 0.3s ease 0s;
}

input.data {
    box-sizing: border-box;
    width: 100%;
    color: #5d5d5d;
    border: 1px solid #e3e6e8ff;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 1rem;
    margin: 0.5rem auto;
    text-align: center;
    background: #fff;
    transition: all 0.3s ease 0s;
}

input.data:hover {
    cursor: pointer;
    outline: 1px solid rgba(33, 148, 243, 0.5);
}

input.data:focus {
    outline: 1px solid rgba(33, 148, 243);
    border-radius: 40px;
    transition: all 0.3s ease 0s;
}

.decline, .create {
    text-transform: uppercase;
    color: #adadad;
    font-size: 1rem;
    padding: 0.5rem;
}

.create {
    color: #2195f2;
    transition: all 0.3s ease 0s;
}

.create:hover {
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

/*Header dashboard*/
.project_block_header {
    display: flex;
    justify-content: space-between;
    z-index: 98;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.15rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #bbb;
}

/*Dashboards projects*/
.dashboard_projects {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

/*Header dashboard*/
.header_dashboard{
    padding: 1rem 0;
    border-bottom: none;
}

.header_dashboard > p {
    max-width: 35vw;
}

/*Add NEW project*/
.newProject_add {
    color: #2195f2;
    padding-right: 1.5rem;
    transition: all 0.3s ease 0s;
}

@media screen and (max-width: 770px) {
    .newProject_add {
        text-align: right;
    }
}

.newProject_add:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

/*Profile page*/
/*Avatar style*/
.icon_correction {
    font-size: 6rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.icon_correction:hover {
    opacity: 0.5;
    transition: all 0.3s ease 0s;
}

/*Login style*/
.correct {
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: none;
    cursor: pointer;
    color: #2c2c2c;
}

.correct:hover {
    text-decoration: underline;
}

.correct_block {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

/*Forms block*/
.block_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.profile_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile_form > label {
    color: #2c2c2c;
    padding: 0.25rem 0;
}

.profile_form > input:not(.bnt_style) {
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: rgb(117, 117, 117);
    padding-bottom: 1.2rem;
}

.profile_form > input:focus {
    outline: none;
}

.profile_form > input::-moz-placeholder {
    color: rgba(145, 145, 145, 0.5);
}

.profile_form > input::-webkit-input-placeholder {
    color: rgba(145, 145, 145, 0.5);
}

.btn_block > * {
    margin-right: 0.5rem;
}

/*Update button*/
.update {
    background: linear-gradient(90deg, rgb(33, 150, 243) 0%, rgb(86, 204, 242) 103.52%);
    box-shadow: 0 2px 2px rgba(68, 68, 68, 0.51);
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 0.6rem 1rem;
    margin: 1.5rem 0;
    transition: all 0.3s ease 0s;
    font-size: 1rem;

}

.update:hover {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

/*Forgot password*/
.retrieve {
    color: rgb(33, 150, 243);
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.retrieve:hover {
    opacity: 0.6;
    transition: all 0.3s ease 0s;
}

