@import "navigation";
@import "add_form";

.content {
  &__header {
    #flex > .daj_b;
    height: 3.5em;
    padding: 0 1.25em;
    background: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);

    p {
      .textOverflow;
    }

    & > * {
      #flex > .da;
    }

    &--project-title {
      position: static;
      font-weight: bold;
      .textOverflow;
    }

    @media screen and (max-width: 670px) {
      padding: 0.5em;
      height: 2em;
    }
  }
}

/*ALL time block*/
.tracker {
  height: 35vh;
  padding: 1.5em;
  display: flex;

  @media screen and (max-width: 1020px) {
    padding: 0.5rem;
  }

  @media screen and (max-width: 670px) {
    flex-direction: column;
  }

  & > * {
    display: flex;
  }

  /*Total time block*/

  &__totalTime {
    width: 60%;
    font-size: 2.5rem;
    #flex > .daf_cj_c;

    &--title {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      margin-bottom: 0.5rem;
    }

    @media screen and (max-width: 670px) {
      width: auto;
      #flex > .da_sf_rj_a;
      font-size: 1.5em;
    }

    &--time {
      white-space: nowrap;
    }
  }

  /*Total time project and task*/

  &__ProjectBlock {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem 1rem 2rem;
    flex-direction: column;
    overflow-y: auto;
  }
}

/*Block project time*/
.projectTime {
  #flex > .dj_b;
  padding: 1rem 1.5rem 1rem 0;
  border-bottom: 1px solid #bbb;
  transform: perspective(1px) translateZ(0);
  transition: all 0.3s ease 0s;
  cursor: pointer;

  p {
    max-width: 35vw;

    .projectTime-title {
      .textOverflow;
    }
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    .t-l_0;
    right: 0;
    bottom: 0;
    background: fade(@custBlue, 10%);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    cursor: pointer;
    transform: scaleX(1);
  }

  &-title {
    font-weight: 600;

     &:before {
      content: "\e5df";
      font-family: 'Material Icons';
      color: #009a00;
    }

    [data-drawer-showing="true"] &:before {
      content: "\e5c5";
      font-family: 'Material Icons';
      color: #009a00;
    }
  }

  &--header {
    padding: 1rem 0;
    border-bottom: none;
  }
}

/*Dashboard style*/
.dashboard {
  #flex > .df;
  height: calc(@hVp - 35vh - 4rem);
  box-sizing: border-box;
  padding: 0 1.5rem 1.5rem 1.5rem;

  @media screen and (max-width: 1020px) {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  &__header {
    #flex > .dj_b;
    z-index: 98;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #bbb;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.15rem;

    .newProject_add {
      color: @custBlue;
      padding-right: 1.5rem;
      transition: all 0.3s ease 0s;

      &:hover {
        .op_trans;
        cursor: pointer;
      }

      @media screen and (max-width: 770px) {
        text-align: right;
      }
    }
  }

  &__projectsList {
    #flex > .df;
    box-sizing: border-box;
    overflow-y: auto;
  }
}

/*.timeTaskBlock[aria-hidden="true"] {
  display: none;
}*/

.timeTaskBlock {
  display: none;
  flex-direction: column;
  padding: 0.5rem 0;

  &__task {
    #flex > .dj_b;
    padding: 0.25rem;
    margin-left: 1rem;
    border-bottom: 1px solid #e8e8e8;
    transition: all 0.3s ease 0s;

    & > * {
      #flex > .da;
    }

    &:hover {
      background: fade(@custBlue, 10%);
      transition: all 0.3s ease 0s;
    }

    input {
      font-size: 1rem;
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer;

      &:focus {
        background: white;
        outline: 1px solid @custBlue;
        border-radius: 5px;
      }
    }
  }

  &__addTask {
    #flex > .da;
    justify-content: center;
    margin: 1rem;
    text-transform: uppercase;
    color: #a9a9b2;
    transition: all 0.3s ease 0s;

    i {
      font-size: 1rem;
      margin-right: .5rem;
    }

    &:hover > * {
      cursor: pointer;
      font-size: 1.05rem;
      color: @custBlue;
      transition: all 0.3s ease 0s;
    }
  }
}